/* Make _ALL_ HTML links blue. */
a {
    color: blue;
}

/* Make HTML <a ...> coloured red. */
.ared {
    color: red;
    font-weight: bold;
}

/* Give the table on the year/month page a solid border. */
.ymtable {
    border: 1px solid black;
}

/* Make it possible to give p a specific relative width. */
.pday {
    display: inline-block;
    border: 1px solid black;
}

/* Make the button inline. */
.pinput {
    display: inline-block;
    width: 10%;
}

/* Make the form on the day page fill 80% of the screen. */
.dayform {
    width: 80%;
}

/* Make the comment field within a form on the day page fill 70%. */
.daycomment {
    width: 70%;
}

/* Make the submit field within a form on the day page fill 10%. */
.daysubmit {
    width: 10%;
}

/* Make the image on the 404 page a specific size. */
.err404 {
    width: 512px;
    height: 384px;
}

.error {
    color: red;
    size: 10pt;
    font-family: Arial;
}

#primary_nav_wrap {
    margin-top: 15px;
}

#primary_nav_wrap ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#primary_nav_wrap ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#primary_nav_wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#primary_nav_wrap ul li.current-menu-item {
    background: #ddd;
}

#primary_nav_wrap ul li:hover {
    background: #f6f6f6;
}

#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0;
}

#primary_nav_wrap ul ul li {
    float: none;
    width: 200px;
}

#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

#primary_nav_wrap ul li:hover > ul {
    display: block;
}

.button_container {
    min-height: 100px;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.button_container p {
    margin-top: 10px;
}

.button_container input {
    text-decoration: none;
    margin: 0 10px;
}

input.btn {
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

input.btn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}

input.btn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
}

input.btn.btn-blue {
    background-color: #699DB6;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
}

input.btn.btn-blue:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,0.5);
}
                                
input.btn.btn-blue:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,0.9);
}




button.btn {
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

button.btn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}

button.btn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
}

button.btn.btn-blue {
    background-color: #699DB6;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
}

button.btn.btn-blue:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,0.5);
}
                                
button.btn.btn-blue:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,0.9);
}
