$def with (months, days, year, month, day, weekday, comments, users)
$var title: Vaktplan - $days[weekday] $day $months[month] ($year)

<center>
    <br><br>
    <h1>$days[weekday] $day ${months[month]} ($year)</h1>
    <h6><a href="/ym/?year=$year&month=$month">Back</a></h6>
    <form class="dayform" method="post" action="add">
        <input class="daycomment" type="text" name="comment" />
        <input class="daysubmit" type="submit" value="Add" />
        <input type="hidden" name="year" value="$year" /i>
        <input type="hidden" name="month" value="$month" />
        <input type="hidden" name="day" value="$day" />
    </form>
    <br>
    $for comment in comments:
        <form class="dayform" method="post" action="del">
            <input class="daycomment" type="text" placeholder="$comment[0]" />
            $users[comment[2]]
            <input class="daysubmit" type="submit" value="Delete" />
            <input type="hidden" name="id" value="$comment[1]"  />
            <input type="hidden" name="year" value="$year" /i>
            <input type="hidden" name="month" value="$month" />
            <input type="hidden" name="day" value="$day" />
        </form>

    <h6><a href="/ym/?year=$year&month=$month">Back</a></h6>
</center>
