$def with (content)

<!DOCTYPE html>
<html>

<head>
    <title>$content.title</title>
    <meta name="author" content="Hans Åge Martinsen">
    <meta name="description" content="A basic calendar application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="latin1">
    <link rel="stylesheet" href="/static/vaktplan.css?v=1">
</head>

<body>

$if not context.username == 'anonymous' and context.loggedin is True:
    <nav id="primary_nav_wrap">
        <ul>
            <li><a class="current_menu_item" href="/">Home</a></li>
            <li>
                <a>$context.username.title()</a>
                <ul>
                    <li><a href="/changepass">Change password</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </li>
            <li><a href="mailto:webmaster@cryp.no?Subject=Vaktplan" target="_top">Contact us</a></li>
        </ul>
    </nav>
$:content
</body>

</html>
