$def with (months, year, month, dateslist, dayin, monthin)
$var title: Vaktplan - $months[month] ($year)

<center>
    <br><br>
    <h1>$months[month] ($year)</h1>
    <h6><a href="/">Back</a><h6>
    <br>
    <table class="ymtable" style="width:80%">
        <tr>
            <th class="ymtable"><center>Monday</center></td>
            <th class="ymtable"><center>Tuesday</center></td>
            <th class="ymtable"><center>Wednesday</center></td>
            <th class="ymtable"><center>Thursday</center></td>
            <th class="ymtable"><center>Friday</center></td>
            <th class="ymtable"><center>Saturday</center></td>
            <th class="ymtable"><center>Sunday</center></td>
        </tr>
        $for week in dateslist:
            <tr>
            $for day in week:
                $if day[0] == 0:
                    <td class="ymtable"></td>
                $elif day[0] == dayin and month+1 == monthin:
                    <td class="ymtable"><center><a href="/ym/d/?year=$year&month=$month&day=$day[0]"><font color="red">$day[0]</font></a></center></td>
                $else:
                    <td class="ymtable"><center><a href="/ym/d/?year=$year&month=$month&day=$day[0]">$day[0]</a></center></td>
            </tr>
    </table>
    <h6><a href="/">Back</a><h6>
</center>
